* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Gothic A1';
  src: url(../fonts/Gothic_A1/GothicA1-Black.ttf);
}

@font-face {
  font-family: 'Gothic-Medium';
  src: url(../fonts/Gothic_A1/GothicA1-Medium.ttf);
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(../fonts/Lato/Lato-Thin.ttf);
}

@font-face {
  font-family: 'Lato-Black';
  src: url(../fonts/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(../fonts/Lato/Lato-Bold.ttf);
}

header {
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.desktop-social-icons {
  display: none;
}

.white-logo-company {
  display: none;
}

nav img.hamb-icon {
  padding-top: 20px;
  padding-left: 23px;
  padding-bottom: 6px;
}

.program-card img {
  padding-left: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3b3e45;
  width: 60px;
  height: auto;
}

.logo-image-about img {
  background-image: url("../img/logo-mother-coding.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 325px;
  height: 121.715px;
  border-top: 2px solid #f7f7f9;
  border-bottom: 2px solid #f7f7f9;
  padding-top: 10px;
  padding-bottom: 19.14px;
}

.logo-footer img {
  width: 135px;
  height: 31.985px;
}

section.logo-company img {
  padding-left: 69px;
  padding-top: 20px;
  padding-bottom: 6px;
}

article.theme {
  display: block;
  flex-shrink: 0;
  margin: 0;
  padding-top: 76px;
}

span.intro-phrase {
  padding-left: 12px;
  color: #ff5438;
  font-size: 1.4rem;
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 700;
  line-height: 34px;
}

h1 {
  padding: 0 12px 50px;
  margin-right: 0;
  font-family: 'Lato-Black', sans-serif;
  word-spacing: 0.69px;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(to right, #f95959, #f95959 50%, #515151 75%, #515151 75%), url('../img/fondo-fonts.jpeg');
  background-size: cover;
  background-position: top;
  -webkit-background-clip: text;
  margin-top: 0;
  color: transparent;
}

.hero-title-about {
  padding: 0 12px 50px;
  margin-right: 0;
  font-family: 'Lato-Black', sans-serif;
  word-spacing: 0.69px;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #ff5438;
}

p.text {
  color: #515151;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.12px;
}

article.text-structure {
  padding: 17.1px 14px 16.9px;
  border: 4px solid #fff;
  background: #f8f8f8;
  align-items: center;
  display: flex;
  justify-content: center;
}

article.text-event-date {
  display: flex;
  flex-direction: column;
  padding: 30px 12px 71px;
  justify-content: center;
}

article.text-event-date h2.event-date {
  font-family: 'Gothic A1', sans-serif;
  color: #595959;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 10px;
  letter-spacing: 0.63px;
  padding-bottom: 14px;
}

span.event-place {
  color: #868686;
  font-family: 'Gothic-Medium', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.63px;
}

section.hero-container {
  background: no-repeat center/120% auto url('../img/mobile-bg.png') #282b32;
}

article.theme-about {
  background: no-repeat bottom /111% 136% url('../img/about-bg-mobile.png');
  padding-top: 17px;
}

section.main-program {
  padding: 11px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: url('../img/pattern.png') #282b32;
}

div.title-text-line h2.title-main {
  padding-bottom: 15px;
  padding-top: 26px;
  color: #fff;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.63px;
  gap: 40px;
}

div.title-text-line {
  text-align: center;
}

div.title-text-line img.line-red {
  background: url('../img/title_underline.svg');
}

article.program-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #42454c;
  opacity: 80%;
  width: 100%;
  margin-bottom: 5px;
}

span.title-card {
  padding-left: 30px;
  color: #ff5438;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 14.271px;
  font-style: normal;
  font-weight: 900;
  line-height: 24.975px;
  letter-spacing: -0.143px;
  padding-right: 11.6px;
  width: 40%;
}

p.title-text {
  color: #fff;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 900;
  line-height: 23px;
  letter-spacing: 0.642px;
  width: 100%;
  padding: 2% 22px 2%;
}

article.program-card.last {
  margin-bottom: 40px;
}

button.button-join {
  cursor: pointer;
  width: 300px;
  height: 68px;
  background-color: #ff5438;
  border: 1px solid #ff5438;
  font-family: 'Lato-Regular', sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: -0.16px;
  margin-bottom: 20px;
}

button#join-desktop {
  display: none;
}

.title-main-speakers {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -1px;
  color: #000;
  padding-top: 28px;
  padding-bottom: 10px;
}

button.more-button {
  width: 356px;
  height: 38px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 20px 35px;
  flex-shrink: 0;
  margin-right: 3%;
  margin-left: 3%;
  border: 1px solid #dcdcdc;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #000;
  font-family: 'Lato-Bold', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.55px;
  margin-bottom: 32px;
}

.fa-chevron-down {
  color: #ff5722;
  padding-left: 11px;
  padding-top: 8px;
}

.mobile-menu-page {
  width: 100%;
  background-color: rgba(81, 81, 81, 0.879);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  z-index: 1;
  overflow-y: hidden;
  min-height: 100vh;
  height: 100vh;
  overflow: scroll;
}

.create-x {
  display: flex;
  justify-content: end;
  padding-top: 1.9rem;
}

.fa-x {
  padding-right: 2.3rem;
  color: #f95959;
  padding-top: 26px;
  font-size: 26px;
}

ul.mobile-links a {
  list-style: none;
  padding: 20px;
  font-family: 'Lato-Regular', sans-serif;
  color: #f95959;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 50px;
  font-style: normal;
  font-weight: 400;
}

div.speaker-card {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12.29px;
  padding-top: 30px;
  display: block;
}

.cardWork {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14.23px;
  padding-bottom: 17.79px;
  padding-right: 8.54px;
  padding-left: 8.54px;
}

.cardWork-hidden {
  display: none;
}

.gray-line {
  padding-bottom: 12.81px;
  padding-top: 6.4px;
}

h3.name-speaker {
  color: #000;
  font-family: 'Lato-Bold', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

h4.role-speaker {
  color: #f78c89;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.943px;
  letter-spacing: -0.2px;
  padding-top: 6.4px;
  padding-bottom: 6.4px;
}

p.desc-speaker {
  color: #000;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.54px;
}

.theme-about {
  display: block;
  flex-shrink: 0;
  margin: 0;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

article.text-event {
  color: #000;
  text-align: center;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.84px;
  padding: 20px 12px;
  background: #fff;
}

article.contact-about {
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #f7f7f8;
}

p.contact-about-text {
  color: #7a7a7a;
  text-align: center;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

p.mail-contact {
  padding-bottom: 29.92px;
  color: #5f5f5f;
  text-align: center;
  font-family: 'Lato-Bold', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0.24px;
  text-decoration-line: underline;
}

.creative-commons {
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2.title-main-about {
  padding-bottom: 8px;
  padding-top: 26px;
  color: #2c2c2c;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.63px;
}

p.creative-text {
  color: #838383;
  text-align: center;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.48px;
  padding-top: 20px;
  padding-bottom: 35px;
}

.past-events {
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
}

.past-events-pictures-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

div.first-event {
  width: 334px;
  height: 182.463px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/kids-mother.jpeg');
  position: relative;
}

div.second-event {
  background-image: url('../img/kids-mother-1.jpeg');
  width: 334px;
  height: 182.463px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding-bottom: 33.61px;
}

.overlay {
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(203, 54, 28, 0.7);
  position: absolute;
  font-size: 1.5rem;
  font-family: 'Lato-Regular', sans-serif;
}

span.past-events-pictures-1 {
  padding-top: 32px;
  padding-bottom: 10px;
  font-family: 'Lato-Black', sans-serif;
  font-size: 1.82rem;
}

span.past-events-pictures-2 {
  padding-bottom: 4px;
  padding-top: 1px;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 1.1rem;
}

section.partners {
  background: #414246;
  display: flex;
  padding: 20px 0 40px 0;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

section.partners.gray {
  display: none;
}

h2.title-main-partners {
  color: #fff;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
}

ul.partners-icons {
  padding-top: 25px;
  padding-bottom: 25px;
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.footer-last {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 29.52px;
}

p.footer-text {
  display: flex;
  width: 158px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  color: #3b3e45;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.69px;
}

footer {
  display: none;
  padding: 27px 25px 27px;
}

.footer-about {
  display: block;
}

.footer-text-more {
  display: none;
}

p.footer-text.mobile {
  color: #3b3e45;
}

@media screen and (min-width: 768px) {
  nav.desktop-version-nav {
    display: none;
  }

  section.logo-company {
    display: none;
  }

  nav.desktop-social-icons {
    display: block;
  }

  header {
    background-color: #3e3e3e;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: 30px;
    align-items: center;
  }

  ul.new-nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-right: 50px;
  }

  li.button-desktop a {
    color: #ec4327;
  }

  ul.new-nav li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  article.white-logo-company {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    gap: 101px;
    width: 100%;
  }

  .logo-desktop img {
    width: 131px;
    height: 51px;
  }

  article.white-logo-company ul {
    display: flex;
    gap: 36px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    align-items: center;
  }

  article.white-logo-company ul li {
    list-style-type: none;
  }

  article.white-logo-company ul li a {
    text-decoration: none;
    color: #868686;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .button-desktop {
    border: 5px solid #ec4327;
    padding: 5px 7px 5px 8px;
  }

  article.theme {
    width: 69%;
    padding-top: 70px;
    padding-left: 73px;
    padding-bottom: 30px;
  }

  section.hero-container-about {
    background: left 3% / 102% 40% no-repeat url(../img/desktop/about-bg.png) #f7f8f7;
  }

  article.theme-about {
    padding-top: 92px;
    background: 0;
    padding-bottom: 18px;
  }

  .hero-title {
    padding-bottom: 0;
    font-size: 2.5rem;
  }

  h1.hero-title-about {
    padding-bottom: 10px;
  }

  article.text-structure {
    width: 57%;
    margin-left: 73px;
    border: 8.497px solid #fff;
    margin-bottom: 51px;
  }

  span.intro-phrase {
    font-size: 1.7rem;
    display: none;
  }

  p.text {
    font-size: 22px;
    line-height: 36.111px;
    letter-spacing: -0.255px;
    text-align: justify;
  }

  article.text-event {
    padding: 25px 40px;
    margin-left: 132px;
    margin-right: 132px;
  }

  h2.title-main-about br {
    display: none;
  }

  p.creative-text {
    padding-left: 40px;
    padding-right: 40px;
    width: 367px;
  }

  p.footer-text br {
    display: none;
  }

  p.creative-text.past-events br {
    display: none;
  }

  p.creative-text.past-events {
    width: 100%;
  }

  p.contact.about-text {
    padding-top: 10px;
  }

  p.contact.about-text br {
    display: none;
  }

  p.mail-contact {
    padding-bottom: 60px;
  }

  article.text-event-date {
    margin-left: 73px;
    padding-bottom: 90px;
  }

  article.text-event-date h2.event-date {
    font-size: 30px;
  }

  article.past-events-pictures-group.past-events {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 65px;
  }

  section.partners {
    display: none;
  }

  span.event-place {
    font-size: 20px;
    padding-top: 18px;
  }

  section.hero-container {
    background: no-repeat center/ 177% auto url(../img/desktop/hero-bg-desktop.png);
  }

  article.program-card {
    display: block;
    width: 125px;
    padding: 6px 18px 22px 18px;
    margin-bottom: 0;
  }

  article.program-card.last {
    display: block;
    width: 125px;
    margin-bottom: 0;
    padding: 6px 18px 6px 18px;
  }

  .program-card img {
    width: 70px;
    padding-left: 29%;
    padding-top: 10px;
  }

  .group-info-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-evenly;
    padding-bottom: 40px;
  }

  span.title-card {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
  }

  p.title-text {
    text-align: center;
    padding: 2% 2px 2%;
  }

  button.button-join {
    display: none;
  }

  button#join-desktop {
    display: block;
    background: transparent;
    text-transform: uppercase;
    text-decoration: underline;
    border: 1px solid transparent;
    font-size: 20px;
    font-family: 'Lato-Regular', sans-serif;
  }

  .cardWork {
    display: flex;
  }

  .speakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  div.speaker-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 65px;
    padding-right: 65px;
    gap: 25px;
    padding-bottom: 74px;
  }

  .gray-line {
    padding-bottom: 8.81px;
    padding-top: 3.4px;
  }

  button.more-button {
    display: none;
  }

  section.partners.gray {
    display: block;
    padding: 35px 50px 35px;
    width: 100%;
  }

  ul.partners-icons {
    display: flex;
    gap: 20px;
  }

  h2.title-main-partners.gray {
    color: #8f8f91;
  }

  footer {
    display: block;
    padding-top: 54px;
    padding-bottom: 53px;
  }

  footer section.footer-last.no-mobile {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
  }

  p.footer-text-1 {
    display: flex;
    width: 100%;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    color: #3b3e45;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.69px;
    padding-top: 6px;
  }

  p.footer-text {
    width: 100%;
  }

  .footer-about {
    background: #2e2e2e;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  p.footer-text-more {
    display: block;
  }

  p.footer-text-more-desktop {
    color: #fff;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 14px;
  }

  p.footer-text.mobile {
    color: #fff;
  }

  .nav-item a:hover {
    color: #f07f7e;
  }
}

@media screen and (min-width: 992px) {
  article.white-logo-company ul {
    gap: 92px;
  }
}

@media screen and (min-width: 1024px) {
  article.white-logo-company ul {
    gap: 100px;
  }
}

@media screen and (min-width: 1280px) {
  article.white-logo-company {
    gap: 232px;
    justify-content: flex-end;
  }

  section.hero-container-about {
    background: left 3% / 102% 40% no-repeat url(../img/desktop/about-bg.png) #f7f8f7;
  }

  article.text-event {
    margin-left: 189px;
    margin-right: 189px;
  }
}
